.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 7px;
}

.pagination-container button {
  padding: 10px 20px;
  background-color: #039f60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pagination-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-container button:hover:not(:disabled) {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .pagination-container {
    gap: 5px;
  }

  .pagination-container button {
    width: 100%;
    padding: 5px;
  }
}
