.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.not-found-container h1 {
  font-size: 6rem;
  margin: 0;
  color: #333;
}

.not-found-container p {
  font-size: 1.5rem;
  color: #666;
}

@media (max-width: 768px) {
  .not-found-container h1 {
    font-size: 4rem;
  }

  .not-found-container p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .not-found-container h1 {
    font-size: 3rem;
  }

  .not-found-container p {
    font-size: 1rem;
  }
}
