.home-container {
  margin: 10px;
}
h1 {
  text-align: center;
}
.filter-section {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 10px;
}

.text-search,
.select-search {
  width: 48%;
  padding: 15px 20px;
  margin: 20px 0;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 12px #808080;
  box-sizing: border-box;
}

.text-search::placeholder {
  color: #999;
}

.text-search:focus,
.select-search:focus {
  border-color: #808080;
  box-shadow: 0 4px 15px #808080;
  background-color: #fffbf0;
}

.text-search:hover,
.select-search:hover {
  background-color: #f9f9f9;
  border-color: #808080;
  box-shadow: 0 4px 15px #808080;
}

.list-style {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .filter-section {
    width: 100%;
    flex-direction: column;
  }

  .text-search,
  .select-search {
    width: 100%;
  }
}
