.book-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  width: 200px;
  height: 500px;
  text-align: center;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.wishlist-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.wishlist-icon {
  cursor: pointer;
  color: #808080;
  transition: color 0.2s ease;
}

.wishlist-icon.liked {
  color: red;
}

.wishlist-icon:hover {
  color: #ff4d4d;
}

.book-image {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.title {
  height: 20%;
  margin-bottom: 10px;
  font-weight: bold;
  overflow: hidden;
}

.author {
  height: 10%;
  margin-bottom: 10px;
  text-align: left;
  overflow: hidden;
}

.genre {
  height: 20%;
  margin-bottom: 10px;
  text-align: left;
  overflow: hidden;
}

.forward-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: 1px solid #808080;
  border-radius: 8px;
  background-color: #04aa6d;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.forward-btn:hover {
  background-color: #039f60;
}
